{% extends 'navbarfooter.html' %}
{% load static %}
{% block title %}Blog-{{post.Title}}{% endblock title %}
<!-- {% load social_share %} -->
{% block main %}
         <!--Css Imports -->
       <link rel="stylesheet" href="{% static 'styles/content.css' %}">

       <!--Body contents-->
       <div class="wrapper">
        <h5 id="all-posts">#{{post.id}} Blog </h5> <!--{% post_to_linkedin request.get_absolute_uri "share ot whatsapp!" %}-->
        <div class="blog">
           
            <div class="wrapper-blog"> 
                 <div class="blog-header">
                    <h5>{{post.Author}} <i class="fas fa-crown"></i></h5>
                   
                 </div>
                 <div class="blog-title">
                   <h3>{{post.Title}}</h3>
                 </div>
                <div class="blog-body">
                    <div class="wrapper-img">
                        <img src="{{post.Thumbnail.url}}">
                    </div>
                    <div class="blog-body-text">
                        <p>{{post.Content | safe}}
                        </p>
                    </div>
                    <div class="blog-likes">
                        <div class="row">
                            <span>{{post.Views}} Views</span>
                            <span>{{post.CommentCount}} Comments</span>
                            <span><a href="/like/{{post.TitleSlug}}" >{{post.Likes}} <i class="fa fa-heart"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-comment">
            <h2>Comments</h2>
            <hr>
            <div class="comment-box">
                <form method="POST" action="/comment/{{post.TitleSlug}}">
                {% csrf_token %}
                <input type="text" class="form-control" style="border-radius: 1px;" id="comment" name="comment" placeholder="Write a comment" />
                <input type="submit"  >
            </form>
            </div>
            <div class="comment-text-wrapper">
                
                {% for comment in comments %}
                <p>{{comment.Comment}}</p>
                {% endfor %}
            </div>
            
           
    </div>
    
    </div>

    <script>
        function clicked(){
            comment=document.querySelector('#comment').value
            const requestOptions = {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
        slug:"{{post.TitleSlug}}",
        comment:comment,
      }),
    };

    fetch("/comment",requestOptions)
    .then((response)=>response.json())
    .then((data)=>{
        console.log(data)
    })
        }
    </script>
{% endblock main %}
