{% extends 'navbarfooter.html' %}
{% load static %}
{% block title %}Best Blogging Site-TurnOffHumanity{% endblock title %}

{% block main %}

         <!--Css Imports -->
       <link rel="stylesheet" href="{% static 'styles/index.css' %}">

                 <!--Body Content-->

          <!--Carousel Slicker-->
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" id="carouselmain">
            <div class="carousel-inner">
          {% for courosel in courosels %}
          <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" >
            <img class="d-block w-100" id="carouselimg" src="{{courosel.Image.url}}" alt="Third blog slide">
            <div class="carousel-caption">
              <h5 id="carouseltext">{{courosel.Caption}}</h5>
              <a href="/posts/{{courosel.Post}}" class="btn btn-primary" id="readmorebtn">Read Now</a>  
          </div>
          </div>
          {% endfor %}

          </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          </div>

          <!-- =============================== latest blogs list ============================== -->
          <section style="background-color: black; opacity: 0.9;">
            <div class="latestblogs-container" >

              <h1 id="lb-title">My Blogs</h1>
                               
              <div class="latestblog">
          
                  <div class="row">
                      <!-- blog 1 -->
                      
                      <!-- end of blog 1 -->
                    {% for post in post %}
                      <!--blog 2-->
                      <div class="col-sm-6 col-md-4">
                        <div class="blog-thumb">
                            <a class="lightbox" href="/posts/{{post.TitleSlug}}">
                                <img id="myblog-img" src="{{post.Thumbnail.url}}" alt="nature">
                            </a>
                            <div class="caption">
                                <p>{{post.Title|slice:":70"}}...</a>
                                  <hr>
                                  <div class="row" id="blog-row">
                                    <div class="box1">
                                      <div class="row">
                                        <i class="fa fa-comments-o"></i>
                                        <p>&nbsp;{{post.CommentCount}}</p>
                                      </div>
                                    </div>
                                    <div class="box2">

                                      <div class="row">
                                        <i class="fa fa-thumbs-up"></i>
                                        <p>&nbsp;{{post.Likes}}</p>
                                      </div>
                                    </div>
                                    <div class="box3">
                                      <div class="row">
                                        <i class="fa fa-eye"></i>
                                        <p>&nbsp;{{post.Views}}</p>
                                      </div>
                                    </div>
                                                        
                                    </div>
                            </div>
                        </div>                        
                    </div>                 
                    {% endfor %}
  </section>

            <!-- =============================== my story  ============================== -->
            <section>
              <div class="mystory" id="story">
                <h1 id="lb-title">Our Story</h1>
                <div class="mystory-content">
                  <h4 id="mystory-txt">
                    "{{about}}" 
                  </h4>
                </div>
              </div>
            </section>  

          <!-- ================================================= sign up =======================================-->
              <!-- =============================== reader list ============================== -->
      <div class="parallax4 container-fluid">
        <div class="title">
            <h2>Join My ReaderList Now</h2>
        </div>
        <div class="contact">
          <form method="POST" action="addemail" id="readlist" >
            {% csrf_token %}
        <input type="email" class="form-control" style="border-radius: 1px;" id="exampleFormControlInput1" placeholder="Email Address" required name="email"/>
        <input type="text" class="form-control"  style="border-radius: 1px;margin-top: 18px; margin-bottom: 10px;"  id="exampleFormControlInput1" placeholder="Your Message" required name="msg"/>
        <button type="submit" class="btn-contact">SIGN UP</button>
            </form>
      </div>
    </div>

{% endblock main%}
